<div>
    <div style="margin-top: 30px; margin-left: 60px;">
        <a [routerLink]="['']">Back</a>
    </div><br>
    <div style="margin-left: 30px; margin-top: 10px;">
        <table class="center">
            <tr>
                <th>Name</th>
                <td>{{data.Name}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td><app-country [country]="data.Country"></app-country></td>
            </tr>
            <tr>
                <th>Skills</th>
                <td><app-skills [skills]="data.Skills"></app-skills></td>
            </tr>
            <tr>
                <th>Proficiency</th>
                <td><app-proficiency [proficiency]="data.Proficiency"></app-proficiency></td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{data.Mobile}}</td>
            </tr>
            <tr>
                <th>Land-Line</th>
                <td>{{data.Landline}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{data.Address}}</td>
            </tr>
        </table>
    </div>
</div>